<html>
<head>
<title>Universal Hotel Info</title>
<link rel="stylesheet" href="style.css">
</head>
<h1>Universal Hotel Info</h1>
<body>
<div class="content-wrapper">
<div class="list-section">
{{ index_html_by_gather_date }}
</div>
<div class="list-section">
{{ index_html_by_hotel }}
</div>
</div>
<a href="universal-game.html">Universal Game</a>
<iframe width="300" height="154" src="https://w2.countingdownto.com/6518409" frameborder="0"></iframe>
</body>
</html>
