<html>
    <head></head>
    <body>
    <h1>Universal Hotel Price Alerts</h1>
    <br>

    {% for alert_item in triggered_alerts %}
        {% set price_alert = alert_item.criteria %}
        {% set filtered_hotel_info = alert_item.matches %}

    <div style="border: 1px solid #cccccc; padding: 15px; margin-bottom: 25px; border-radius: 5px; background-color: #f9f9f9;">
        <strong>An alert has been triggered for the 
        {% if 'hotels' in price_alert and price_alert.hotels|length > 1 -%}
            {% for hotel in price_alert.hotels -%}
                {{ hotel }}
                {%- if not loop.last -%}
                    {%- if loop.index == price_alert.hotels|length - 1 %}, or {% else %}, {% endif -%}
                {%- endif -%}
            {%- endfor %} hotel
        {%- elif 'hotel' in price_alert %} {{ price_alert.hotel }} hotel
        {%- elif 'hotels' in price_alert and price_alert.hotels|length == 1 %} {{ price_alert.hotels[0] }} hotel
        {%- else %} any hotel
        {%- endif %}
        {%- if 'price' in price_alert %} with a price below ${{ price_alert.price }}
        {%- elif 'dates' in price_alert %} to send today's price for booking {{ price_alert.dates | join(', ') }}
        {%- else %} for the lowest price in the next year
        {%- endif %}
        {%- if 'date' in price_alert and 'price' in price_alert %} on {{ price_alert.date }}{%- endif %}.</strong> 
        <br><br>

        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <thead>
            <tr>
            <th style="padding: 8px; border: 1px solid #cccccc; text-align: left; background-color: #eeeeee; color: #333333;">
                Date
            </th>
            <th style="padding: 8px; border: 1px solid #cccccc; text-align: left; background-color: #eeeeee; color: #333333;">
                Price
            </th>
            <th style="padding: 8px; border: 1px solid #cccccc; text-align: left; background-color: #eeeeee; color: #333333;">
                Hotel
            </th>
            </tr>
        </thead>
        <tbody>
    {% for hit in filtered_hotel_info %} 
            <tr>
            <td style="padding: 8px; border: 1px solid #cccccc; text-align: left;">
                {{ hit.date }}
            </td>
            <td style="padding: 8px; border: 1px solid #cccccc; text-align: left;">
                ${{ hit.price }}
            </td>
            <td style="padding: 8px; border: 1px solid #cccccc; text-align: left;">
                {{ hit.name }}
            </td>
            </tr>
           {% endfor %}
        </tbody>
        </table>
    </div>
    {% endfor %}

    </body>
</html>